:root {
  --nude: #A07B50;
  --gray:#DDD0C3;
  --milky:#FDF2E6;
  --onyx: #181617;
  --white: #ffffff;
  --paleBlack: #1F1C1D;
  --opacityWhite20: rgba(255, 255, 255, 0.2);
  --blackCircle: #151313;

}

body {
  padding: 0;
  margin: 0;

  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.container-xl {
  width: 1090px;
}

img {
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.font-yeseva {
  font-family: Yeseva One;
}

.color-milky {
  color: var(--milky)
}

.align-right {
  text-align: right;
}
  
.align-center {
  text-align: center;
}

header {
  position: relative;

  min-height: 684px;
  padding: 45px 0;

  background-color: var(--onyx);
}

.crown {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
}

.crown img {
  width: 53px;
  height: 24px;
}

.promo-content {
  display: flex;
}

.promo-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  padding-top: 117px;
}

.main-information {
  font-size: 16px;
  line-height: 24px;
  text-align: left;  
  color: var(--nude);
}

.city {
 padding-bottom: 18px;
}

h1 {
  font-size: 52px;
  line-height: 60px;
  color: var(--white);
  padding-bottom: 31px;
}

.description {
  padding-bottom: 50px;
}

.button {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;  
}

.button.watch-cats {
padding: 18px 35px 17px;
border: 1px var(--nude) solid;
text-decoration: none;
color: var(--white);
}

.promo-right-column {
  position: absolute;
  right: 0;
  top: -45px;
}

.header-social {
  position: absolute;
  left: 79px;
  bottom: 65px;
}

.header-social::before {
  content: '';

  position: absolute;
  top: -106px;
  left: 50%;

  width: 1px;
  height: 77.5px;

  background-color: #fff;
  opacity: 0.6;
  transform: translateX(-50%);
}

.header-social-item {
  display: flex;
  justify-content: center;
}

.header-vk {
  width: 13px;
  height: 8px;
}

.header-tw {
  width: 15.08px;
  height: 10.39px;
}

.header-fb {
  width: 6px;
  height: 12px;
}

.title {
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  color: var(--white);
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  color: var(--nude);
}


.catalog {
  padding-top: 223px;
  padding-bottom:83px;
  background-color: var(--paleBlack) ;
}

.pats {
  margin-bottom: 23px;
}

.catalog-buttons {
 display: flex;
 justify-content: center;
 margin-top: 38px;
 margin-bottom: 45px;
}

.catalog-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px; 
  color: var(--opacityWhite20);
  text-align: center;

  appearance: none;
  border: none;
  background-color: transparent;
}

.catalog-button:nth-child(2) {
  margin: 0 26px 0 26px;
}

.active {
  color: var(--white);
}

.catalog-photos {
 display: flex;
 justify-content: space-between;
 max-height: 485px;
 margin-bottom: 55px;
}

.catalog-left-column {
  width: 520px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-right-column {
  width: 474px;
  max-height:485px ;
}

.catalog-right-column img {
  height: 100%;
}

.button.watch-more {
  display: flex;
  max-width: 200px;
  margin: 0 auto 83px auto;
  text-decoration: none;
  color: var(--white);
  padding: 18px 39px 17px;
  border: solid 1px var(--nude); 
}

.features {
  padding-bottom: 108px;

  background-color: var(--paleBlack);
}

.breed-features {
  margin-bottom:23px ;
}

.features-content {
  position: relative;

  min-height: 630px;
  margin-top: 70px;
}

.features-content::before {
  content: '';
  position: absolute;
  top: 56px;
  left: calc(50% - 260px);
  z-index: 0;

  width: 520px;
  height: 520px;

  background-color: var(--blackCircle);
  border-radius: 50%;
}

.features-content::after {
  content: '';

  position: absolute;
  top: 0;
  left: calc(50% - 315px);
  z-index: 0;

  width: 630px;
  height: 630px;

  background-color: transparent;
  border: 1px solid var(--nude);
  border-radius: 50%;
}

.features-cat {
  z-index: 1;
  position: absolute;
  top: -140px;
  left: calc(50% - 296px);

  width: 623px;
  height: 908px;
}

.features-list {
  position: absolute;

  width: 100%;
  height: 100%;

  color: var(--white);

}

.features-description{
  position: absolute;
}

.features-left{
  position: absolute;
}

.features-left:first-child {
  top: 137px;
  left: 21px;
}

.features-left:first-child::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -32px;

  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: var(--nude);
}

.features-left:last-child {
  top: 423px;
  left: 52px;
}

.features-left:last-child::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -47px;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: var(--nude);
}

.features-right {
  position: absolute;
  right: 0;
}

.features-right:first-child {
  top: 246px;
  right:43px;
}

.features-right:first-child::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -38px;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: var(--nude);
}

.features-right:last-child {
  top:466px ;
  left:852px;
}

.features-right:last-child::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -43px;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: var(--nude);
}


.features-description, .review, .location, .phone {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}


.tips-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--nude);
}

.tips-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
}

.quote {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: var(--nude);
}

.post {
  font-size: 16px;
  line-height: 22px;
  color: var(--nude);
}

.number {
  font-weight: bold;
  font-size: 70px;
  line-height: 82px;
  color: var(--nude);
}

.question {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray)
}

.reply {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: var(--gray)
}

.customer-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.date {
  font-size: 12px;
  line-height: 19px;
  color: var(--nude);
}

.location {
  opacity: 0.83;
}
